<div class="jumbotron">
    <div class="row">
        <h4>Customer Search</h4>
        <div class="form-group">
            <label for="customerSearchInput"><small>Policy No.</small></label>
            <input class="form-control" type="text" id="customerSearchInput" />
        </div>
        <button id="custSearchBtn" class="btn btn-default btn-sm btn-index" onclick="module.GetByPolicyKey(event);">
            <span class="btn-label"><small>Search</small></span>
            <div class="glyphicon-circle-white">
                <span class="glyphicon glyphicon-search glyphicon-bordered"></span>
            </div>
        </button>
    </div>
</div>
